.gitignore
backup/*
src/__pycache__/*
src/database.db
src/login.py
src/main_2.ui
src/main_3.ui
src/main.ui
src/mainDialogNotUsed.ui
src/tempCodeRunnerFile.py
src/test_mainui.py
src/test_mainui.ui
src/test.py
src/test.ui
__pycache__/*